[mysqld]
socket=/var/lib/mysql/mysql.sock
datadir = /data/mysql/data
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
external-locking = FALSE

[mysqld_safe]
log-error=/data/mysql/log/mysqld.log
pid-file=/data/mysql/data/mysqld.pid
